Package: com.ipadkid.upsideboard
Name: UpsideBoard
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Support upsidedown orientation in SpringBoard
Maintainer: ipad_kid <ipadkid358@gmail.com>
Author: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
